@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

:root {
  --bg-names: #e7e9fe;
  --bg-contactinfo: #dce1ff;
  --bg-address: #c7cdfd;
  --bg-message: #a5b1fd;
  --bg-main: #cbdffa;
  --bg-button: #233bf5;
  --bg-form: #ffffff;
  --clr-fieldtext: #1838e4;
  --clr-thnks: #61d7b5;
  --clr-buttontext: #ffffff;

  --ff-all: "Source Sans Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-all);
  font-size: 62.5%;
}
html {
  margin: 0;
}

body {
  max-width: 100%;
  background-color: var(--bg-main);
  justify-content: center;
  align-items: center;
}

.form_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4rem 4rem 4rem 4rem 8rem;
  gap: 2rem;
  margin: 8rem 10rem 15rem 10rem;
  padding: 5rem 7rem 20rem 10rem;
  background-color: var(--bg-form);

  width: 76.4rem;
  height: 56.9rem;
}

.get {
  grid-column: 1/3;
}

h1 {
  font-size: 3rem;
  color: var(--clr-fieldtext);
}

.f_name,
.l_name,
.email,
.phone,
.address,
.message {
  padding: 1rem;
  color: var(--clr-fieldtext);
  font-weight: 900;
  border-radius: 1rem;
}

.f_name,
.l_name {
  background-color: var(--bg-names);
}

.email,
.phone {
  background-color: var(--bg-contactinfo);
}

.address {
  background-color: var(--bg-address);
  grid-column: 1/3;
}

.message {
  background-color: var(--bg-message);
  grid-column: 1/3;
}

.container_bg {
  background-color: var(--bg-main);
  width: 92.4rem;
  height: 72.9rem;
}

.form_container div {
  font-size: 1.4rem;
}

button {
  background-color: var(--bg-button);
  color: var(--clr-buttontext);
  font-size: 2rem;
  font-weight: 900;
  border-radius: 2rem;
  width: 10rem;
  height: 3rem;
  border: none;
}
.button {
  text-align: center;
  grid-column: 1/3;
}

.thanks {
  text-align: left;
  font-weight: 600;
  color: var(--clr-thnks);
}
.thanks p {
  font-size: 2rem;
}
